# Core
streamlit==1.48.0
mediapipe==0.10.9
numpy==1.26.4
opencv-contrib-python==4.11.0.86
pandas==2.2.2
scikit-learn==1.7.1
scipy==1.16.1

# Visualization
matplotlib==3.10.5
plotly==6.2.0
altair==5.5.0

# Utilities
absl-py==2.3.1
attrs==25.3.0
cachetools==6.1.0
colorama==0.4.6
click==8.2.1
blinker==1.9.0
contourpy==1.3.3
cycler==0.12.1
flatbuffers==25.2.10
fonttools==4.59.0
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.25.0
kiwisolver==1.4.8
MarkupSafe==3.0.2
protobuf==3.20.3
requests==2.32.4
tenacity==9.1.2
threadpoolctl==3.6.0
typing_extensions==4.14.1
tzdata==2025.2

# Git & version control
gitdb==4.0.12
GitPython==3.1.45
smmap==5.0.2

# Audio / other optional
sounddevice==0.5.2
sentencepiece==0.2.0
pyarrow==21.0.0
